@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}header

h1, h2, h3, h4, h5, h6, span {
    color: #000;
    text-align: center;
    line-height: 1.25;
}

main {
flex-wrap: wrap;
}

section {
    flex-direction: column;

}

img {

}

footer {

}

